*.sqlite3 filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
data/chroma_db/** filter=lfs diff=lfs merge=lfs -text
data/user_profile.txt filter=lfs diff=lfs merge=lfs -text
